<template>
    <div>
        <modal name="hobby-modal">
            <!-- Modal content-->
            <div class="modal-content myModal">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" @click="closeModal" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body myModal">
                    <form class="form-horizontal">

                        <div v-if="response" @click="close" v-bind:class="responseAlert" 
                            style="text-align:center;">
                            {{responseMsg}}
                        </div>

                        <div class="row">
                            <label v-if="deleteModalMode" 
                                class="deleteLabel">{{currentHobby.hobby}}</label>

                            <div v-if="!deleteModalMode" 
                                    class="form-group col-md-10">
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    v-model="currentHobby.hobby">
                            </div>
                        </div>
                    </form>
                </div>
           
                <div class="modal-footer">
                    <button v-if="editModalMode"
                        @click.prevent="editHobby" 
                        class="btn btn-default" >
                        {{modalAction}}</button>

                     <button v-if="deleteModalMode"
                        @click.prevent="deleteHobby" 
                        class="btn btn-default" >
                        {{modalAction}}</button>

                     <button v-if="!(editModalMode || deleteModalMode)"
                        @click.prevent="addHobby" 
                        class="btn btn-default" >
                        {{modalAction}}</button>

                </div>
            </div>

        </modal>

        <li v-if="hobbies.length == 0" class="hobbyBox">
            No hobby yet! add using the blue button below!
        </li>

        <ol>
            <li v-for="(hobby, index) in hobbies" class="hobbyBox" >
                {{hobby.hobby}}

                <span 
                    @click="editHobbyModal(index)" 
                    class="edit-icon">[ ! ]
                </span>
                <span 
                    @click="deleteHobbyModal(index)" 
                    class="delete-icon">[ X ]
                </span>


            </li>
        </ol>

        <p @click="newHobbyModal" id="addButton">+</p>

    </div>
</template>

<script>
    export default{
        data(){
            return{
                user_id: (()=> {return this.$session.get('user_id')})(),
                viewMode: true, 
                response: false,
                responseMsg: null,
                responseAlert: null,
                modalTitle:"",
                modalAction:"",
                currentHobby:"",
                editModalMode:false,
                deleteModalMode:false,
                hobbies: []
            }
        },
        methods:{
            editHobby(){
                this.$http.put('hobby/'+this.currentHobby.id, this.currentHobby)
                .then(response => {
                    this.getHobbies();
                    this.$modal.hide('hobby-modal');
                }, error => {
                    this.showResponse("fail", "could not edit !");
                });
            },
            deleteHobby(){
                this.currentHobby.user_id = this.user_id;
                this.$http.post('hobby/deleteHobby', this.currentHobby)
                .then(response => {
                    this.getHobbies();
                    this.$modal.hide('hobby-modal');
                }, error => {
                    this.showResponse("fail", "could not delete !");
                });
            },
            addHobby(){
                let newHobby = {user_id:this.user_id, "hobby":this.currentHobby.hobby}
                this.$http.post('hobby', newHobby).then(response => {
                        this.getHobbies()
                        this.currentHobby = {};
                        this.showResponse("success", "new hobby added !");
                    }, error => {
                        this.showResponse("fail", "could not add new hobby !");
                });
            },

            newHobbyModal(){
                this.close();
                this.modalAction = "SAVE"
                this.modalTitle = "Add a new Hobby !"
                this.$modal.show('hobby-modal');
                this.currentHobby = {}
                this.editModalMode = this.deleteModalMode = false
            },
            editHobbyModal(index){
                this.close()
                this.editModalMode = true
                this.deleteModalMode = false

                this.modalAction = "UPDATE"
                this.modalTitle = "Edit this Hobby !"
                this.$modal.show('hobby-modal');
                this.currentHobby = this.hobbies[index];
            },
            deleteHobbyModal(index){
                this.close();
                this.deleteModalMode = true
                this.editModalMode = false

                this.modalAction = "DELETE"
                this.modalTitle = "Delete this Hobby !"
                this.$modal.show('hobby-modal');
                this.currentHobby = this.hobbies[index];
            },

            getHobbies(){
                let newHobby = {user_id:this.user_id}
                this.$http.post('hobby/getHobbies', newHobby).then(response => {
                    this.hobbies = response.body;
                }, error => {
                    this.showResponse("fail", "could not fetch user hobbies !");
                });
            },
            showResponse (alert, msg){
                this.responseAlert = "alert "+alert
                this.responseMsg = msg
                this.response = true;
            },
            close(){
                this.response = false;
            },
            closeModal(){
                this.$modal.hide('hobby-modal');
            }
        },
        activated(){
            this.hobbies.length == 0 && this.getHobbies()
        }
       
    }
</script>

<style>

    .deleteLabel{
        color: #e1823f;
        padding-left: 2em;
    }

    #addButton{
        cursor: pointer;
        background-color: #0275d8;
        float:right;
        color: #f7f7f9;
        font-weight: 200px;
        padding: 0.5em;
        border-radius: 23px;
        top: 30em;
        text-align: center;
        width: 3em;
        height: 3em;
        right: 0em;
    }

     @media screen and (max-width: 500px) {
        .v--modal-box{
            width:unset !important;
        }
    }

    .hobbyBox{
        border-bottom: 1px gray solid;
        padding: 1em;
    }

    .edit-icon, .delete-icon{
        float: right;
        margin-right: 0.5em;
        cursor: pointer;
    }

    .edit-icon{
        color:green;
    }

    .delete-icon{
        color:red;
    }

</style>