<template>
    <div>
    
        <nav class="navbar  fixed-top navbar-toggleable-md navbar-light navbar-inverse bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <a class="navbar-brand" href="#">HobMeet</a>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item" v-bind:class="{active : hobbyView}">
                    <a class="nav-link" @click.prevent="hobbies">Hobbies</a>
                </li>

                <li class="nav-item " v-bind:class="{active : !hobbyView}">
                    <a class="nav-link" @click.prevent="profile">profile</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" @click.prevent="logout">Logout</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row" >

                <div class="col-lg-3" id="page-links">
                    
                </div>

                <div class="col-lg-6" id="user-board">
                    <div class="card">
                        <h4 class="card-header">{{currentViewTitle}}</h4>
                
                        <div class="card-body">
                            <keep-alive>
                                <component :is="currentViewComp" >
                                </component>
                            </keep-alive>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3" id="members-list">
                   
                </div>

            </div>
        </div>
    </div>

</template>

<script>

    import profile from './Profile.vue'
    import hobbies from './Hobbies.vue'

    export default {

        data(){
            return{
                currentViewTitle: "Hobbies",
                currentViewComp: hobbies,
                hobbyView: true
            }
        },
        component:{
            appProfile: profile,
            appHobbies: hobbies
        },
        beforeCreate: function () {
            if (!this.$session.exists()) {
                this.$router.push('/');
            }
        },
        methods:{
            profile(){
                this.hobbyView = false;
                this.$router.push('/dashboard/profile')
                this.currentViewTitle = "Profile"
                this.currentViewComp = profile
            },
            hobbies(){
                this.hobbyView = true;
                this.$router.push('/dashboard/hobbies')
                this.currentViewTitle = "Hobbies"
                this.currentViewComp = hobbies
            },
            logout(){
                this.$session.destroy()
                this.$router.push('/')
            }
        },
        beforeMount(){
            let currentUrl = this.$route.path
            if (currentUrl.split('/')[2] == "profile") this.profile()
        }

    }
</script>

<style scoped>
    .container-fliud{
        position: absolute;
        width: inherit;
        height: inherit;
    }

    .navbar-brand{
        font-size: 2.5em;
        letter-spacing: -0.15em;
    }

    .btn{
        background-color: #d85b02c2;
        color: white;
        margin-bottom: 7px;
        margin-top: 5px;
    }

    #user-board{
        margin-top:4em;
        height: 100%
    }

    li.nav-item:hover, .active{
        border: 1px solid cornflowerblue;
        color: #fff;
    }

</style>