<template>
    <div>
        <form class="form-horizontal">

             <div v-if="response" @click="close" v-bind:class="responseAlert" 
                  style="text-align:center;">
                {{responseMsg}}
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstname">First Name</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.firstname}}</label>
                    <input v-if="!viewMode" type="text" class="form-control" v-model=user.firstname>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="lastname">Last Name</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.lastname}}</label>
                    <input v-if="!viewMode" type="text" class="form-control" v-model="user.lastname">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.email}}</label>
                    <input v-if="!viewMode" type="email" class="form-control" v-model="user.email">
                </div>
                <div class="form-group col-md-6">
                    <label for="Country">Country</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.country}}</label>
                    <select v-if="!viewMode" class="form-control" v-model="user.country">
                        <option selected>Choose...</option>
                        <option>Nigeria</option>
                        <option>Benin</option>
                        <option>Ghana</option>
                    </select>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="phoneNumber">Phone Number</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.phone}}</label>
                    <input v-if="!viewMode" type="phone" class="form-control" v-model="user.phone" placeholder="+2348012345678">
                </div>

                <div class="form-group col-md-3">
                    <label for="state">state</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.state}}</label>
                    <select v-if="!viewMode" class="form-control" v-model="user.state">
                        <option>Lagos</option>
                        <option>Accra</option>
                        <option>Porto-Novo</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="gender">Gender</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.gender}}</label>
                    <select v-if="!viewMode" v-model="user.gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="gender">Age</label><br/>
                    <label v-if="viewMode" class="viewLabel">{{user.age}}</label>
                     <input v-if="!viewMode" type="text" min="16" class="form-control" v-model="user.age">
                </div>

            </div>
           
            <div class="row">
                <div v-if="!viewMode" class="form-group col-md-3">
                    <button @click.prevent="switchView" class="btn form-control cancelBtn">Cancel</button>
                </div>
                <div v-if="!viewMode" class="form-group col-md-3">
                    <button @click.prevent="editUserDetail" class="btn form-control saveBtn">Save</button>
                </div>
                <div v-if="viewMode" class="form-group col-md-6">
                    <button @click.prevent="switchView" class="btn form-control editBtn">Edit</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default{

        data(){
            return{
                user_id: (()=> {return this.$session.get('user_id')})(),
                viewMode: true, 
                response: false,
                responseMsg: null,
                responseAlert: null,
                user: {}
            }
        },
        props: [
        ],
        deactivated(){
        },
        activated(){
            this.getUserDetail()
        },
        methods:{
            switchView(){
                this.viewMode = !this.viewMode
            },
            showResponse (alert, msg){
                this.response = true;
                this.responseAlert = "alert "+alert
                this.responseMsg = msg
            },
            getUserDetail(){
                this.$http.get('user/'+this.user_id).then(response => {
                    this.user = response.body;
                }, error => {
                    this.showResponse("fail", "Unable to fetch user profile!");
                });
            },
            editUserDetail(){
                console.log(this.user);
                this.$http.put('user/'+this.user_id, this.user).then(response => {
                    this.user = response.body;
                    this.showResponse("success", "Update Successful !");
                }, error => {
                    this.showResponse("fail", "Update Failed !");
                });
            },
            close(){
                this.response = false;
            }
        }
    }

</script>

<style>
    .viewLabel{
        color:#e1823f;
    }

   

</style>