<template>
    <router-view></router-view>
</template>

<script>
  export default {
  }
</script>

<style>

    @font-face {
        font-family: 'Montserrat';
        src: url('assets/fonts/montserrat/Montserrat-Regular.otf');
    }
    
    body{
        font-family: 'Montserrat';
        background-color: #f2f2f2;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .container-fliud{
        position: absolute;
        width: inherit;
        height: inherit;
    }

    .nav-item{
        cursor:pointer;
    }

    .navbar-brand{
        color:#fff !important;
        font-size: 2.5em;
        letter-spacing: -0.15em;
    }

    #view-B{
        padding: 2em;
        padding-top: 6em;
    }

    .card{
        margin-top: 40px;
        -moz-box-shadow: 0 0 4px #ccc;
        -webkit-box-shadow: 0 0 4px #ccc;
        box-shadow: 0 0 4px #ccc;
    }

    .card-body{
        padding: 25px;
    }

    .card-header{
        background-color: #d85b02c2;
        color: white;
        letter-spacing: 0.2em;
    }

    .btn{
        background-color: #d85b02c2;
        color: white;
        margin-bottom: 7px;
        margin-top: 5px;
    }

    .redirect-link a{
        color: #fb3adf;
        text-decoration: none;
    }

    .redirect-link a:hover{
        color: #5c3e95;
    }

    .fail{
        background: antiquewhite;
    }

    .loading{
        background: #b0e2e870;
    }

    .success{
        background: #31a233;
        color: white;
    }

    .redirect-link{
        color:#e1823f;
        cursor:pointer;
        }
    .buttonPart{
        text-align: center;
    }
</style>