    <template>
        <div id="myBody">
            <nav class="navbar fixed-top navbar-light bg-faded navbar-inverse bg-primary">
                <a class="navbar-brand" href="#">HobMeet</a>
            </nav>

            <div class="container-fluid">
                <div class="row" >

                    <div class="col-lg-4" id="view-B">
                       <component :is="currentView" @switchView="switchView">
                       </component>
                    </div>

                    <div class="col-lg-8" id="userYard"></div>
                </div>
            </div>
        </div>
    </template>

    <script>
        import login  from './Login.vue'
        import register from './Register.vue'

        export default{
            data: function (){
                return {
                    currentView: "appLogin"
                }
            },
            components: {
               appLogin: login,
               appRegister: register
            },
            methods: {
                switchView () {
                    this.currentView = 
                    (this.currentView == "appRegister")  ? "appLogin" : "appRegister";
                }
            },
            beforeCreate: function () {
                if (this.$session.exists()) {
                    this.$router.push('/dashboard/hobbies');
                }
            },
            beforeMount(){
                let currentUrl = this.$route.path
                if (currentUrl.split('/')[1] == "register") this.currentView = "appRegister"
            }
        }
    </script>

    <style>
        #myBody{
            background-image: url("../../assets/img/background_img2.jpg");
            height: 100%;
        }
    </style>
