<template>
  <div class="card">

    <h4 class="card-header">Log in</h4>

    <div class="card-body">      
        <form class="form-horizontal">

          <div id="responseMessage"  @click="close">
            <div v-if="response" v-bind:class="responseAlert" 
                  style="text-align:center;">
                {{responseMsg}}
            </div>
          </div>
        
          <input type="email" class="form-control" v-model.trim="cred.username" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email">
          <br/>
          <input type="password" class="form-control" v-model.trim="cred.password" placeholder="Password" >
          <br/>

          <div class="row buttonPart">
            <div class="form-group col-md-6">
              <button 
                @click.prevent ="login" id="loginBtn" 
                class="btn form-control">LOG IN
              </button>
            </div>
            <div class="form-group col-md-6 prompt">
              <label>
                  <span>I am new here?</span>
                    <span class="redirect-link">
                      <a @click="switchView">Register</a>
                  </span>
              </label> 
            </div>
        </div>
          
            
        </form>
    </div>

  </div>
</template>

<script>
  export default {
    data(){
      return  {
        cred: {
          username:"",
          password:""
        },
        response: false,
        responseMsg: null,
        responseAlert: null
      }
    },
    methods: {
      login (){

          if(this.cred.username == '' || this.cred.password == ''){
            this.showResponse("fail", "Fill credentials!");
            return null;
          }

          this.showResponse("loading", "logging in ... ");
          let user = {};
          for(var key in this.cred){
              user[key] = this.cred[key];
          }
          
          this.$http.post('user/login', user).then(response => {
               this.showResponse("success", response.body.message);

                this.$session.start();
                this.$session.set('user_id', response.body.user.id);
                this.$router.push('/Dashboard/Hobbies');
              
          }, error => {
              this.showResponse('fail', "Error! cannot connect to server. Pls try again.")
            
              if(error.ok == false && error.status == 0)
                this.showResponse("fail", "Error in server connection!");

              if(error.ok == false && error.status == 403)
                this.showResponse("fail", "Wrong credentials combination !");
          });
          
      },
      showResponse (alert, msg){
          this.response = true;
          this.responseAlert = "alert "+alert
          this.responseMsg = msg
      },
      switchView(){
        this.$router.push('/Register')
        this.$emit('switchView', null);
      },
      close(){
        this.response = false;
      }
    }
  }
</script>

<style scoped>
  .redirect-link{
    color:#e1823f;
    cursor:pointer;
  }
</style>


