<template>
    <div class="card">
        <h4 class="card-header">New Account</h4>

        <div class="card-body">
            <form class="form-horizontal" id="registerForm">

                <div id="responseMessage" @click="close">
                    <div class="alert" v-if="response" v-bind:class="responseAlert" style="text-align:center;">
                        {{responseMsg}}
                    </div>
                </div>

                <input type="text" v-model.trim="userData.firstname" required class="form-control"  placeholder="First name"><br/>
                <input type="text" v-model.trim="userData.lastname" class="form-control"  placeholder="Last name"><br/>
                <input type="email" v-model.trim="userData.email" class="form-control" placeholder="Email"><br/>
                <input type="password" v-model.trim="userData.password" class="form-control" placeholder="Password"><br/>

                <div class="row buttonPart" >
                    <div class="form-group col-md-6">
                        <button
                            @click.prevent='register'
                            class="btn form-control registrationBtn">JOIN US
                        </button>
                    </div>
                    <div class="form-group col-md-6 prompt">
                        <label>
                            <span>Already have an account?</span>
                             <span class="redirect-link">
                                <a @click="switchView">Login</a>
                            </span>
                        </label>
                       
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                userData: {
                    firstname:"",
                    lastname:"",
                    email:"",
                    password:""
                },
                errorLog : [],
                response: false,
                responseMsg: null,
                responseAlert: null
            }
        },
        methods:{
            register (){

                let user = new FormData();
                this.showResponse("success", "Registration in progress ...");
                
                if(!this.formComplete()){
                    this.showResponse("fail", this.errorLog[0]);
                    return null;
                }

                for(var key in this.userData){
                    user.append(key, this.userData[key])
                }

                this.$http.post('user/create', user).then(response => {
                    let msg = (response.statusText == "Created") ? "USER SUCCESSFULLY SAVED !" : response.body.details;
                    this.showResponse('success', msg);
                    
                    this.$session.start();
                    this.$session.set('user_id', response.body.id);
                    this.$router.push('/Dashboard/Hobbies');

                }, error => {
                    if(error.status == 400){
                        this.showResponse('fail', "Email already exist or bad input.")
                    }else{
                        this.showResponse('fail', "Server Error ! Pls retry")
                    }
                });
                
            },
            showResponse (alert, msg){
                this.response = true;
                this.responseAlert = "alert "+alert
                this.responseMsg = msg
            },
            switchView() {
                this.$router.push('/Login')
                this.$emit('switchView', null);
            },
            close(){
                this.response = false;
            },
            formComplete(){
                this.errorLog = [];

                if(!this.userData.firstname) 
                    this.errorLog.push("Firstname required.");

                if(!this.userData.lastname) 
                    this.errorLog.push("Lastname required.");

                if(!this.validEmail(this.userData.email))
                    this.errorLog.push("correct email required.");

                if(!this.userData.password) 
                    this.errorLog.push("Password required.");

                return (!this.errorLog.length) ? true : false;   
            },
            validEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>


<style scoped>
  .redirect-link{
    color:#e1823f;
    cursor:pointer;
  }
</style>